h1,
h2,
h3,
h4,
div,
p {
  margin: 0;
}
a {
  display: flex;
  color: #ffe6c7;
  transition: 0.3s;
  text-decoration: none;
}
a:hover {
  color: #ff6000;
}
p {
  font-size: 1.2rem;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #322b2b;
  color: #ffe6c7;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Bruno Ace", cursive;
}
.button-style {
  font-size: 1rem;
  color: #ffe6c7;
  background-color: unset;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Bruno Ace", cursive;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.3s;
}

.button-style:hover {
  color: #ff6000;
}
.presentation-container {
  height: 100vh;
}
.presentation {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.presentation-btn-container {
  padding-top: 7%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.presentation-content {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
h1 {
  font-size: 3rem;
}
.FF6000-color {
  color: #ff6000;
}
.presentation-content p {
  font-size: 1.5rem;
}

.arrow {
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.projects-container {
  width: 100%;
  padding-top: 3%;
  min-height: 100vh;
}
.cards {
  width: 100%;
  padding-top: 4%;
  align-items: center;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.project-card {
  width: 50%;
  height: 30%;
  border: 1px solid;
  color: #f7f7f734;
  background-color: #322b2b;
  padding: 2% 4%;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  scale: 1.04;
}

.project-card-content {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #ffe6c7;
  display: flex;
}
.project-card-image-responsive {
  display: none;
}

.project-card-content > img {
  border-radius: 3%;
  width: 40%;
  transition: 0.3s;
}
.project-card-content > img:hover {
  rotate: 10deg;
  scale: 1.05;
}

.project-card-text {
  gap: 20px;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.project-card-text h2 {
  text-transform: capitalize;
}
.project-card-icons {
  display: flex;
  width: 50%;
  font-size: 3rem;
  justify-content: space-between;
}
.about-me-container {
  padding-top: 4%;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
}
.about-content p {
  width: 65%;
}
.about-content > img {
  width: 32%;
  border-radius: 50%;
}
.about-content a {
  margin: auto;
  text-align: center;
  text-decoration: none;
  animation: resume-animate 2s infinite;
}
.about-content a:hover {
  background-color: coral;
}
.contact-me-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-me-icons {
  width: 20%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-me-icons a {
  font-size: 40px;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes resume-animate {
  0% {
    color: #f5bd79;
  }
  50% {
    color: #ffe6c7;
  }
  100% {
    color: #f5bd79;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .presentation {
    justify-content: space-around;
  }
  .presentation-btn-container {
    padding-top: 20%;
  }

  .presentation-content p {
    font-size: 1.2rem;
  }
  .arrow {
    width: 4vw;
    height: 4vw;
  }
  .project-card {
    width: 80%;
  }
  .project-card-content {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .project-card-image {
    display: none;
  }
  .project-card-image-responsive {
    display: block;
  }
  .project-card-content img {
    width: 100%;
  }

  .project-card-text h2 {
    text-align: center;
  }

  .project-card-text {
    gap: 20px;
    width: 90%;
    font-size: 0.9rem;
  }

  .project-card-text span {
    display: none;
  }
  .about-me-container {
    height: auto;
  }
  .about-content {
    width: 80%;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .about-content img {
    width: 70%;
  }

  .about-content p {
    font-size: 1rem;
    width: auto;
  }
  .about-content :nth-child(3) {
    order: -4;
  }
  .contact-me-container p {
    width: 80%;
    font-size: 1rem;
  }
  .contact-me-container {
    padding-top: 15%;
  }
  .contact-me-icons {
    width: 100%;
  }
}
